*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%; cursor: default;font-family:"Pretendard","Noto Sans KR",sans-serif;}

.wrap{height: 950px; background: #333;}


.top{height: 850px; background: #f3b1b1; display: flex;}


footer{height: 100px; background: #afffac;}
footer h2{width: 200px; height: 100px;} 


header{width: 200px; background: #3de98a;}


.contents{display: block; width: calc(100% - 200px);}


.slide{height: 400px; background: #333;}


.banner{height: 200px; background: #f3b1b1;}


.con{height: 250px; background: #233a22;}