*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%; cursor: default;font-family:"Pretendard","Noto Sans KR",sans-serif;}

.wrap{height: 950px; background: #333; position: relative;}

.top{height: 850px; background: #f3b1b1; display: flex;}

/* 왼쪽 전체 [Logo+side-Menu+Login-spot] -Footer(하단) 제외 */
header{width: 200px; background: #faf7e7;}


/* Main menu 구역 */
nav{margin-top: 30px;}
nav>ul>li>a{display: block; background: #94b9a3; padding: 8px 2px; color: #01160a; text-align: center; width: 150px; margin: auto; font-size: 15px; font-weight: 600;}/* 메인메뉴 만 수정 */
nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background: #e9dfab; color: #a78d0d;font-size: 16.5px;}


/* Sub menu 구역 */
.sub{display: none;}
.sub>li>a{display: block; background: #fff;padding: 6px 2px; text-align: center; width: 150px; margin: auto; font-size: 13.5px; font-weight: 700;}/* 서브메뉴 만 수정 */
.sub>li>a:hover,
.sub>li>a:focus{background: #e7e1c4d3;color: #ad951a;font-size: 14.5px;}


/* Login-spot 구역 */
.spot{margin-top: 30px; text-align: center;}
.spot a{font-size: 15px; font-weight: bold; }
.spot a:first-child{border-right: 2px solid #333; padding-right: 5px;}


/* 오른쪽 전체 [Slide+Banner+Con(Notice+gallery)]-Footer(하단) 제외 */
.contents{ width: calc(100% - 200px);}

/* Slide 구역 */
.slide{height:400px;  background: #94b9a3; position: relative;overflow: hidden;}
.slide ul{position: absolute; top:0; left:0; height: 1200px; width:100%;}
.slide ul li{width: 100%; height: 400px; position: relative;}
.slide ul li a{display: block; height: 100%;}
.slide ul li.s1{background: url(../IMG/s1.png) no-repeat center/cover;}
.slide ul li.s2{background: url(../IMG/s2.png) no-repeat center/cover;}
.slide ul li.s3{background: url(../IMG/s3.png) no-repeat center/cover;}
.slide ul li .text{position: absolute; bottom: 100px; left: 30px; color: #fff;}
.slide ul li .text h2{font-size: 32px; text-shadow: 3px 3px 5px rgba(0,0,0,.8); margin-bottom: 10px;}
.slide ul li .text h2 span{color: #52ec6c;}
.slide ul li .text p{font-size: 16px; text-shadow: 3px 3px 5px rgba(0,0,0,.8);}
/* .slide ul li a h2{color: #fff; font-size: 28px; padding: 10px; background: #01160aa8; width: 650px; border-radius: 0 0 50px 0; border: 3px solid #ffffff; line-height: 35px;}
.slide p{font-size: 18px; color: #ad951a; padding: 15px;} */






/* Banner 구역 */
.banner{height: 200px; background: #caecd8; display: flex; padding: 10px;}
.banner a{display: flex; }
.banner .photo{flex-basis: 200px; border-radius: 15px; overflow: hidden; height: 180px; margin-left: 200px;}
.banner .text{ text-align: left; margin-left: 180px;  line-height: 30px; flex-grow: 1;}
.banner .arrow{margin-left: 180px; padding: 30px;}
.banner .text strong{color: #dd5d07; font-size: 17px;}
.banner .text span{font-weight: bold; font-size: 15px;}
.banner .text span .ptext{font-size: 600; font-size: 13px; }




/* CON 영역 */
.con {height: 250px; background: #ffffff; position: relative;}




/* GO 영역 */
.go{position: fixed; top:20px; right: 20px; background-color: #fff; border-radius: 8px; text-align: center;}
.go p{font-weight: bold; margin-bottom: 5px; font-size: 14px; padding: 5px;}
.go li:hover p{background: #a78d0dfd; border-radius: 8px; color: #fff;}
.go img{width: 50px;}
.go li{border-bottom: 2px dashed #01160a;  margin: 2px 10px; }
.go li:last-child{border-bottom: 0;}


.notice{display: none;}
.tabmenu{display: flex;}
.tabmenu>li{width: 150px; background:#e7e1c4d3; color: #333; text-align: center;}
.tabmenu>li>h2>a{display: block; padding: 10px; font-size: 18px;}
.tabmenu>li.on{background: #9ac780;}

.tabcon{position: absolute; width: 100%; left: 0; background: #9ac780; padding: 15px 10px;}

.notice table th{text-align: left; padding-left: 20px; }
.notice table tr{border-bottom: 2px solid #fff; height: 28px;}
.notice table td{text-align: center;}

.gall{display: none;}
.gall ul{display: flex; gap:120px; justify-content: center;} 
.gall ul li p{padding: 5px;}
.gall ul li img{width: 130px; height: 130px; object-fit: cover;border-radius: 15px; border: 2px solid #fff;padding: 3px;}
.gall ul li a div{font-weight: bold; font-size: 12.5px; width: 150px; background: #93aac0be; padding: 5px; border-radius: 8px; color: #000;}
.gall ul li a:hover>div{border: 2px dashed #fff; background: #a78d0da9; color: #fff;}




/* Footer 구역 */
footer{height: 100px; background: #faeeac;}
footer ul{display: flex; justify-content:space-between;}
/* Footer ->LOGO */
footer .flogo img{width: 200px; height: 100px;}
/* Footer ->LCOPYRIGHT */
footer span{font-weight: 600; line-height: 21px; font-size: 13px;margin-top: 5px; text-align: left;}
/* Footer ->SNS */
.sns ul{display: flex; gap: 10px; margin-top: 25px;}
.sns ul li img{width: 50px; height: 50px; padding: 5px; border: 3px dashed #93aac0; border-radius: 15px;}
.sns ul li img:hover{background: #93aac0; border: 3px dashed #4f6357;}



.popcon{background: url(../IMG/popup.png) no-repeat center/cover; width: 300px; height: 500px; position: absolute; top: 50px; left:250px; border-radius: 8px; }

.popcon h2{ margin-top: 60px; font-size: 15px; text-align: center;}
.popcon .poptext{text-align: center; margin-top: 15px; font-weight: bold; font-size: 30px; color: #f06b12;}
.popcon .poptext p{color: #0d8d22;}
.popcon .button{text-align: center; margin-top:250px;}
button{font-size: 13px; padding: 5px 15px; font-weight: 600; background:#93aac0 ; border-radius: 8px; border: 2px solid #fff; color: #fff; }
button:hover{background: #8abceb; color: #000; border: 2px solid #fff;}