*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%; cursor: default;font-family:"Pretendard","Noto Sans KR",sans-serif;}

.wrap{height: 950px; background: #333;}


.top{height: 850px; background: #f3b1b1; display: flex;}

/* 왼쪽 전체 [Logo+side-Menu+Login-spot] -Footer(하단) 제외 */
header{width: 200px; background: #faf7e7;}



/* Main menu 구역 */
nav{margin-top: 30px;}
nav>ul>li>a{display: block; background: #94b9a3; padding: 8px 2px; color: #01160a; text-align: center; width: 150px; margin: auto; font-size: 15px; font-weight: 600;}/* 메인 메뉴 만 수정 */
nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background: #e9dfab; color: #a78d0d;font-size: 16.5px;}


/* Sub menu 구역 */
.sub{display: none;}
.sub>li>a{display: block; background: #fff;padding: 6px 2px; text-align: center; width: 150px; margin: auto; font-size: 13.5px; font-weight: 700;}/* 서브 메뉴 만 수정 */
.sub>li>a:hover,
.sub>li>a:focus{background: #e7e1c4d3;color: #ad951a;font-size: 14.5px;}


/* Login-spot 구역 */
.spot{margin-top: 30px; text-align: center;}
.spot a{font-size: 15px; font-weight: bold; }
.spot a:first-child{border-right: 2px solid #333; padding-right: 5px;}










/* 오른쪽 전체 [Slide+Banner+Con(Notice+gallery)]-Footer(하단) 제외 */
.contents{display: block; width: calc(100% - 200px);}



/* Slide 구역 */
.slide{height:400px;  background: #94b9a3; position: relative; overflow: hidden;}
.slide ul{position: absolute; top:0; left:0; height: 1200px; width:100%;}
.slide ul li{width: 100%; height: 400px;}
.slide ul li a{display: block; height: 100%;}
.slide ul li.s1{background: url(../IMG/s1.png) no-repeat center/cover;}
.slide ul li.s2{background: url(../IMG/s2.png) no-repeat center/cover;}
.slide ul li.s3{background: url(../IMG/s3.png) no-repeat center/cover;}
.slide ul li a h2{color: #fff; font-size: 28px; padding: 10px; background: #01160aa8; width: 650px; border-radius: 0 0 50px 0; border: 3px solid #ffffff; line-height: 35px;}
.slide p{font-size: 18px; color: #ad951a; padding: 15px;}




/* Banner 구역 */
.banner{height: 200px; background: #caecd8;}
.banner a{display: flex; gap: 120px; margin-left: 150px; padding: 15px;}
.banner .text{flex-grow: 1; line-height: 30px; padding-top: 10px;}
.banner .text span{font-weight: bold; font-size: 15px;}
.banner .text span .ptext{font-size: 600; font-size: 13px; }
.banner .text strong{color: #dd5d07; font-size: 17px;}
.banner .photo img{width: 170px; border-radius: 8px; border: 3px solid #000000 ;}
.banner .arrow img{padding: 20px; margin-right: 40px;}




/* Con(Notice+gallery) 구역 */
.con{height: 250px; background: #a6c0a6;}










/* Footer 구역 */
footer{height: 100px; background: #faeeac;}