*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%; cursor: default;font-family:"Pretendard","Noto Sans KR",sans-serif;}


/* [전체 감싸기] */
.wrap{width: 1000px; height: 650px; display: flex; position: relative;}



/* [로고]+[메뉴] */
header{width: 200px; height: 650px; background: #93a5b6;padding-top: 40px;  border: 1.5px solid #333;}
nav{background: #fff; width: 160px; margin: auto; margin-top: 40px; text-align: center; font-weight: bold; }
nav>ul>li>a{background: #000 ;display: block; padding:6px; color: #fff; font-size: 14px;}
nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background: #cccccca4;color: #000; border: 2px solid #ccc;}


.sub{display: none;}
.sub>li>a{padding:3px; font-size: 12.5px; display: block;}
.sub>li>a:hover,
.sub>li>a:focus{background: #ccc; color: #000; font-size: 13.5px; }



/* [슬라이드]+{[공지사항+갤러리]+[배너]+[바로가기]}+[푸터] */
.contents{width: 800px; display: block;}



/* [슬라이드] */
.slide{height: 350px; position: relative;}
.slide>ul>li{position: absolute; top:0; left: 0; display: none;}
.slide h2{color:#fff; font-size: 20px; background: #7a6985; width:300px; text-align: center; border-radius: 50px; border-bottom: 4px solid #ffffffb4; margin-top: 180px; margin-left: 100px; padding: 5px; }
.slide a{display: block; height: 100%;}
.slide .s1{background: url(../IMG/s1.png)no-repeat center/cover;width: 800px;height: 350px; display: block; }
.slide .s2{background: url(../IMG/s2.png)no-repeat center/cover;width: 800px;height: 350px; }
.slide .s3{background: url(../IMG/s3.png)no-repeat center/cover;width: 800px;height: 350px; }



/* [공지사항+갤러리]+[배너]+[바로가기] */
.con{height: 200px; display: flex;}


/* 탭 메뉴 */
.con1 {position: relative; }
.con1>.tabmenu {display: flex;}
.con1>.tabmenu>li {width: 150px; }
.con1>.tabmenu>li:hover{background:  #ffffff; color: #9577a8; border: 3px solid #9577a8; border-bottom:0px; border-radius: 8px 8px 0 0;}

.con1>.tabmenu>li.on {background: #9577a8;color: #ffffff; border-radius: 8px 8px 0 0;}
.con1>.tabmenu>li>h2>a {display: block; text-align: center; height: 45px; font-weight: bold; font-size: 18px; padding: 8px; border-radius: 8px 8px 0 0;}

.con1 .tabcon {position: absolute; left: 0; width: 300px; height: 155px;}/* left: 0;-> gall 영역 때문에 사용 */




/* 공지사항 (table → ul 구조) */
.notice {padding-top: 5px; }
.notice>ul {padding-right:8px ; padding-left: 8px;}

.notice li {display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #5a5a5a;}
.notice a {display: block; width: 210px; font-size: 13px;  padding: 4px; color: #000000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.date {color: #111; font-size: 12.5px; width: 80px; text-align:left; font-weight: 500;}


/* 갤러리 */
.gall {display: flex; padding-top: 15px; padding-left: 5px; gap:3px; display: none;} /*초기에는 숨김 */
.gall>img {  border: 2px solid #332e2e; width: 95px; height: 120px; border-radius: 15px;}




/* 배너 */
.con2{width: 250px; background: url(../IMG/banner.png)  no-repeat center/cover ; padding: 15px; margin: 5px; border-radius: 3px; border: 2px solid#5a5a5a; text-align: center; }
.con2>a>h2{color: #fff;}
.con2>a>div{font-weight: bold; font-size:12px; color: #000; background-color: #ffffffc7; border-radius: 15px; padding: 8px; margin: 5px;}





/* 바로가기 */
.con3{width: 250px;background: #fff;}
.con3>h2{ background: #9577a8;color: #fff; text-align: center; font-weight: bold; font-size: 18px; padding: 8px; height: 45px; border-radius: 8px 8px 0 0; }
.con3>ul{display: flex; padding-left: 5px;padding-right: 5px; gap: 5px; font-size: 15px; font-weight: bold; text-align: center; padding-top:25px;}
.con3>ul>li{border: 2px solid #9577a8; padding: 3px; border-radius: 8px;}
.con3 p{margin-top: 10px;}


 


/* [푸터] */
footer{height: 100px; background: #8798a8; border: 1.5px solid #333;  border-left: 0px;}
.inner{display: flex; gap: 20px;}
.inner>p{padding-left: 20px; padding-top: 30px;}
.inner>div{padding: 10px;}
.inner>div>.fmenu{display: flex; gap: 20px; font-size: 15.5px; font-weight: 555; margin-bottom: 5px; margin-top: 5px; color: #fff;}
.inner>div>.fmenu>li>a:hover{color: #350e69; border-bottom: 2px solid #350e69;}
.inner>div>span{font-size: 12px; line-height: 1.2; display: inline-block;}


/* [팝업] */
.popup{background: url(../IMG/popup.png); width:300px; height: 500px;  border-radius: 3px; padding: 25px; text-align: center; position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); z-index: 999; display: none;}
.popup>h2{color: #1276f8; font-weight: bold; font-size: 28px; margin-bottom: 10px; line-height:30px;}
.popup>p{color: #eb5555; font-weight: bold; font-size: 14px;line-height:18px;}
.popup .start{font-weight: bold; font-size: 10px;} 
.popup .detail{font-size: 12px; font-weight: bold; padding: 15px;line-height:20px;}
.popup .detail>span{color: #ffffff; background: #eb5555d7; border-radius: 15px; padding: 2px 15px; }

.popup button{padding:5px 10px; background: #d9bbec; border: 2px solid #fff; border-radius: 5px; color: #2b0630; font-size: 12px; font-weight: bold; margin-top: 200px;}
.popup button:hover{background:#57a05d8e; color:#000; border: 2px solid #101d118e; font-size: 15px;}