*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%; cursor: default;}


/* [전체 감싸기] */
.wrap{width: 1000px; height: 650px; display: flex;}



/* [로고]+[메뉴] */
header{width: 200px; height: 650px; background: #b5acb8;}



/* [슬라이드]+{[공지사항+갤러리]+[배너]+[바로가기]}+[푸터] */
.contents{width: 800px; display: block;}





/* [슬라이드] */
.slide{height: 350px; position: relative;}
.slide>ul>li{position: absolute; top:0; left: 0; display: none;}
.slide h2{color:#fff; font-size: 23px; background: #9d41db9c; width:300px; text-align: center; border-radius: 50px; border-bottom: 4px solid #ffffffb4; margin-top: 150px; margin-left: 100px; padding: 8px; }
.slide a{display: block; height: 100%;}
.slide .s1{background: url(../IMG/s1.png)no-repeat center/cover;width: 800px;height: 350px; display: block; }
.slide .s2{background: url(../IMG/s2.png)no-repeat center/cover;width: 800px;height: 350px; }
.slide .s3{background: url(../IMG/s3.png)no-repeat center/cover;width: 800px;height: 350px; }



/* [공지사항+갤러리]+[배너]+[바로가기] */
.con{height: 200px; display: flex;}


/* 탭 메뉴 */
.con1 {position: relative; }
.con1>.tabmenu {display: flex;}
.con1>.tabmenu>li {width: 150px; }
.con1>.tabmenu>li:hover{background:  #ffffff; color: #9d41db; border: 3px solid #9d41db; border-bottom: 4px none;}

.con1>.tabmenu>li.on {background: #9d41db;color: #ffffff;}
.con1>.tabmenu>li>h2>a {display: block; text-align: center; height: 45px; font-weight: bold; font-size: 18px; padding: 8px;}

.con1 .tabcon {position: absolute; left: 0; width: 300px; height: 155px;}/* left: 0;-> gall 영역 때문에 사용 */




/* 공지사항 (table → ul 구조) */
.notice {padding-top: 5px; }
.notice>ul {padding-right:8px ; padding-left: 8px;}

.notice li {display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #5a5a5a;}
.notice a {display: block; width: 210px; font-size: 13px;  padding: 4px; color: #000000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.date {color: #111; font-size: 12.5px; width: 80px; text-align:left; font-weight: 500;}


/* 갤러리 */
.gall {display: flex; padding-top: 15px; padding-left: 5px; gap:2px;display: none;} /*초기에는 숨김 */
.gall>img {display: flex; border: 2px solid #332e2e; width: 95px; height: 120px;border-radius: 15px;}




/* 배너 */
.con2{width: 250px; background: url(../IMG/banner.png)  no-repeat center/cover ; padding: 15px; margin: 5px; border-radius: 3px; border: 2px solid#5a5a5a; text-align: center; }
.con2>a>h2{color: #fff;}
.con2>a>div{font-weight: bold; font-size:12px; color: #000; background-color: #ffffffc7; border-radius: 15px; padding: 8px; margin: 5px;}
.con2:hover{border: 3px solid #9d41db;}




/* 바로가기 */
.con3{width: 250px;background: #ffffff;}
.con3>h2{ background: #9d41db;color: #ffffff; text-align: center; font-weight: bold; font-size: 18px; padding: 8px; height: 45px; }
.con3>ul{display: flex; padding-left: 5px;padding-right: 5px; gap: 5px; font-size: 15px; font-weight: bold; text-align: center; padding-top:25px;}
.con3>ul>li{border: 3px solid #c886f5; padding: 3px; border-radius: 8px;}
.con3>ul>li:hover{background: #9d41db7c;}

.con3>ul>li>a{margin-bottom:5px; }
.con3>ul>li>p{margin-top: 15px;}
 


/* [푸터] */
footer{height: 100px; background: #eecddb;}
.inner{display: flex; gap: 20px;}
.inner>p{padding-left: 20px; padding-top: 30px;}
.inner>div{padding: 10px;}
.inner>div>.fmenu{display: flex; gap: 15px; font-size: 15.5px; font-weight: bold; margin-bottom: 5px; margin-top: 5px;}
.inner>div>.fmenu>li>a:hover{color: #001b91; border-bottom: 2px solid #001b91;}
.inner>div>span{font-size: 12px; line-height: 1.2; display: inline-block;}

