*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333}


.wrap{position: relative;}


.inner{width: 1200px; margin: auto;}


header{position: relative; height: 100px; background: #ceb398; padding-top:35px; padding-left: 35px;}  /*background 주조색 자율 설정 가능 */


nav{position: absolute; top: 35px; right: 40px; z-index: 10;} /* 슬라이드 위에 덮어지는 메뉴 화면 연출-> 공중에 띄어지게 제작 필요-> absolute 사용 */
nav>ul{display: flex;} /* nav 바로 아래 있는 ul만 적용 */
nav>ul>li>a {display: block; width: 140px; background: #fff; text-align: center; font-weight: bold; color: #ceb398;padding: 10px;}
nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background: #ceb398; color: #fff;}  /* 메인 메뉴 하단 영역에 포커스가 가더라도 hover 유지 */ /* 키보드 사용 시 포커스 */ /* 키보드 이벤트 */ 


.sub li a{display: block; padding:5px; text-align: center; font-size: 14px; background: #fff;}
.sub li a:hover,
.sub li a:focus {background: #f3e2db;}
.sub{display: none;}


.slide{height: 300px; background: #fc6; position: relative; overflow: hidden;} /*overflow: hidden 벗어난 슬라이드 영역 숨김 */
.slide ul{position:absolute; top:0; left:0; height: 900px;}
.slide ul li {width: 1200px; height: 300px;}
.slide ul li a {display: block; height: 100%; position: relative;} /* a 텍스트 영역 이 외에 전체 영역이 클릭 가능하도록 */ /* h2에 absolute 사용 시 부모 태그에 relative 필수 */
.slide ul li.s1 {background:url(../IMG/slide1.png) no-repeat center/cover;}  /* 타 파일에 있을 때에는 ../img/사용, no-repeat 벡그라운드 이미지 반복 x */
.slide ul li.s2 {background:url(../IMG/slide2.png) no-repeat center/cover;}
.slide ul li.s3 {background:url(../IMG/slide3.png) no-repeat center/cover;}
.slide ul li h2{background: #ceb398; position: absolute; top:50%; left:50%; font-size: 24px; font-weight: bold; border-radius: 30px; padding: 20px; transform: translate(-50%,-50%);}


.con{height: 200px; display:flex;}
.con article{width: 400px;}
.con article:nth-child(2){background: #fff;}


.con1{position: relative;}
.con1 .tabmenu{display: flex;}
.con1 .tabmenu>li{width: 150px;background: #fcf0ea;}
.con1 .tabmenu>li.on{background: #ceb398; color: #fff;}
.con1 .tabmenu>li>h2>a{display: block; text-align: center; padding: 10px 0; font-weight: bold; font-size: 20px;}
.con1 .tabcon{position: absolute; left: 0; width: 100%; background: #ceb398; height: 150px;}


.notice{padding-top: 5px;}
.notice th{text-align: left; color: #fff;}
.notice td{color: #fff;}
.notice tr{border-bottom: 1px dashed #fff;} /*순서대로 두께-> 선 스타일-> 선 색상*/
.notice a{padding: 5px; display: block; width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} /* white-space: nowrap-> 줄바꿈 안함,overflow: hidden-> 넘치는 부분 숨기기, text-overflow: ellipsis-> 넘친 부분 ... 표시*/


.gall{padding-top: 30px; display: none;}
.gall ul{display: flex; gap:10px;}


.con2{padding:10px;}
.con2 a{display: block; height: 100%; background: url(IMG/slide4.png) center/cover; border-radius: 30px; text-align: center; overflow: hidden;}
.con2 div{background: rgba(206, 179, 152, .8); height: 100%; padding-top: 20px;}
.con2 h2{margin-bottom: 5px;}
.con2 p{background: #333; color: #fff; display: inline-block; font-size: 13px; margin-top: 10px; padding: 5px;}


.con3{padding: 10px;}
.con3 h2{color: #ceb398; margin-bottom: 20px;}
.con3 ul{display: flex; text-align: center; gap:20px; justify-content: center;}
.con3 ul li a{display: block; height: 100%;}
.con3 ul li p{width: 80px; height: 80px; background: #ceb398; padding-top: 20px; border-radius: 20px;}
.con3 ul li span{margin-top: 10px; display: block; font-weight: bold;}


footer{height: 100px; background: #333; color: #ffff; position: relative; padding-top: 25px; padding-left: 40px; display: flex; gap: 40px;}


.fsns{display: flex; gap:15px; position: absolute; top:40px; right: 40px;}
.fsns li a{display: block; width: 30px; width: 30px; text-align: center; padding-top: 5px;}
.fsns li:nth-child(1){background: #47b749; border-radius: 50%;}
.fsns li:nth-child(2){background: #3f5b9a; border-radius: 50%;}
.fsns li:nth-child(3){background: red; border-radius: 50%;}


.popup{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; width: 500px; padding: 20px; background: #ffa5a5; z-index: 9999; display: none;}
.popup h2{color: #140000; margin-bottom: 20px;}
.popup .text{margin: 20px 0;}
.popup .button{text-align: right;}
.popup button{border:0; padding:20px; background: #f85e5e; color: #6d0000; }
.popup button:hover{background: #f19c9c; color: #ff0101;}


.con3 img{width:44PX; height:44PX;}