*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%;}



header{height: 100px; background:#cfd8f3;}
header>.inner{width: 1200px; height: 100%; margin: auto; background: #cfd8f3; padding-top: 30px; padding-left: 40px; position: relative;}



nav{position: absolute; top:25px; right:40px; z-index: 10;}
nav>ul{display: flex; text-align: center;}/* 메뉴 전체 */



nav>ul>li>a{display: block; width: 150px; font-size: 21px; font-weight: bold; background: #fff; padding: 8px; border: 2px solid #23233b; border-left: 0px;}/* 메인메뉴 */
nav>ul>li:first-child>a{border-left: 2px solid #23233b;}
nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background: #23233b; color: #fff;}



.sub{height: 212px; background: #fff; display: none;}/* 서브메뉴 */
.sub>li>a{display: block; width: 150px; padding: 15px;}
.sub>li:hover>a,
.sub>li>a:focus{background: #6798e2; color: #fff;}




.contents{width: 1200px; margin: auto; }



.slide{width: 1200px; height: 300px; margin: auto; background: #85a9d8;position: relative; overflow: hidden;}
.slide>ul{display: flex; width: 3600px; position: absolute; top:0; left: 0;}
.slide>ul>li{width: 1200px; height: 300px;}
.slide>ul>li>a{display: block; height: 100%;}
.slide>ul>li.s1{background: url(../IMG/s1.png) no-repeat center/cover;}
.slide>ul>li.s2{background: url(../IMG/s2.png) no-repeat center/cover;}
.slide>ul>li.s3{background: url(../IMG/s3.png) no-repeat center/cover;}
.slide>ul>li h2{background: #5dcaf5; color: #fff; font-size: 18px; width: 350px; text-align: center; border-radius: 15px; padding: 5px; margin-top: 10px; margin-left: 400px;}


.contents{width: 1200px; height: 200px; margin: auto; background: #9db9f7; display: flex;}
.contents article{width: 400px;}
.contents article:nth-child(2){background: #fff;}


/* 탭 메뉴 */
.con1 {position: relative;}
.con1>.tabmenu {display: flex;}
.con1>.tabmenu>li {width: 200px; background: #b9b9b9;}
.con1>.tabmenu>li.on {background: #0609f1;color: #fff;}
.con1>.tabmenu>li>h2>a {display: block; text-align: center; padding: 10px 0; font-weight: bold; font-size: 20px;}

.con1 .tabcon {position: absolute; left: 0; width: 100%; background: #9db9f7; height: 150px;}


/* 공지사항 (table → ul 구조) */
.notice {padding-top: 5px;}
.notice>ul {margin: 0;  padding-right:10px ; padding-left: 10px;}
.notice li {display: flex; justify-content: space-between; align-items: center; border-bottom: 1px dashed #5a5a5a;}
.notice a {display: block; width: 250px; padding: 5px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice .date {color: #333; font-size: 14px; width: 80px; text-align:left;}


/* 갤러리 */
.gall {padding-top: 30px; display: none; /*초기에는 숨김 */}
.gall>ul {display: flex; gap: 25px; justify-content: center; align-items: center; }
.gall>ul>li{border:2px solid #23233b;}


/* 배너 */
.con2>h2{background: #2d30b6; color: #fff; width: 300px; padding: 10px 0; font-weight: bold; font-size: 20px; text-align: center;}
.con2>a{display:block; background: rgba(84, 108, 134, 0.582); padding: 10px; margin: 10px; border-radius: 8px; text-align: center; }
.con2>a>h2{padding-bottom: 15px;}
.con2>a>h2>span{color: #f70505;}
.con2>a>p{font-weight: bold; font-size: 18px;}


/*바로가기*/
.con3>h2{background: #33406b; color: #fff; width: 300px; padding: 10px 0; font-weight: bold; font-size: 20px; text-align: center;}
.con3>ul{display: flex;justify-content: space-evenly;}
.con3>ul>li{padding: 15px; text-align: center; }
.con3>ul>li>a>p{padding: 15px; background: #305777;border-radius: 15px; margin-bottom: 15px;}
.con3>ul>li>a>span{font-weight: bold; font-size: 15px;}




/*푸터*/
footer{height: 100px;background:#cfd8f3;}
footer>.inner{width: 1200px; height: 100%; margin: auto; background: #cfd8f3; display: flex; gap: 50px; font-size: 15px; color: #09080e; font-weight: bold;}
footer>.inner>p{padding: 30px;}
footer>.inner>div>.fmenu{display: flex; gap: 10px; padding-bottom: 20px; padding-top: 20px;}
footer>.inner>div>.copy{background: #0a1346; width: 450px; text-align: center; padding: 5px; border-radius: 10px; color: #fff;}
.fmenu>li>a{ background:  #fff; padding: 5px; border-radius: 15px; padding-left: 10px; padding-right: 10px;border: 2px solid #0a1346;}
.fmenu>li:hover>a{background: #6798e2; color: #fff;}


.popup{background: url(../IMG/popup.png) no-repeat center/cover; width:400px; height: 650px; position: absolute; top: 50%;left: 50%;text-align: center; transform: translate(-50%,-50%); z-index: 50; border-radius: 15px; border: 2px solid #09080e; display: none;}
.popup>ul>h2{display: block; padding-bottom: 20px;}
.popup>ul>h2>img{padding: 25px;}
.popup>ul>h2>span{color: #7c9fe9; padding-top: 15px;}
.popup>ul> p{font-size: 14x; font-weight: bold; color: #fff;}

.popup button{margin: 20px; background: #134b79; padding: 10px; color: #fff; font-weight: bold; border-radius: 8px;}
.popup button:hover{background: #fff; color: #333; border: 5px solid #134b79;}