*{margin:0; padding:0; box-sizing: border-box; }
li{list-style: none;}
img{max-width: 100%; vertical-align: top;}
a{text-decoration: none; color: inherit;}
table{width:100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color:#333; height: 100%; cursor: default;font-family:"Pretendard","Noto Sans KR",sans-serif;}

.wrap {width: 1200px; height: 650px; margin: auto; display: flex;}

header{width: 200px; height: 650px; background: #f3dcdc;}
header>h1{padding:10px; margin-top: 30px;}



nav{width: 140px; margin: auto; text-align: center; margin-top: 40px;}
nav>ul>li>a{display: block; font-size: 18px; font-weight: bold; background:#ec8e8e ; padding: 8px; text-align: center; border:1px solid #fff;border-bottom: 0px; color: #333;}
nav>ul>li:hover>a{background: #fff; color: #333; }


.sub{display: none;}
.sub>li>a{display: block; font-weight: bold; font-size: 15px;  background:#f8f8f8 ; padding:8px; text-align: center; border:1px solid #ec8e8e;}
.sub>li:hover>a{background:#ec8e8e; color: #333; }





















.contents{width: 1000px; display: block; }



.slide{height: 350px; background: #ec8e8e;}



.con{display: flex; height: 200px; background: #f08a46;}
.con1 {width: 330px;}
.con2 {width: 340px; background: #f7c9aa;}
.con3 {width: 330px;}



footer{display: flex; height: 100px; }
.copyright{width: 700px; height: 100px; background: #b3fca4;}



.fr{display: block; width: 300px;}
.fsns{height: 50px; background: #f7c9aa;}
.fsite{height: 50px; background: #cf6b28;}